<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Banco de Dados 2</title>
        <link rel="icon" type="image/x-icon" href=" {{ url_for('static', filename='database-line-style-icon-free-vector.jpg') }} " />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}"  rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->

        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Tecnologia de Cluster e Bancos de Dados Distribuídos</h1>
                <p class="lead">Carolina Lins - Gabriel Aragão - Helder Matos</p>
            </div>
        </header>



        <!-- Insert Info Section-->
        <form action="/" method="post">
        <section id="about">
            <div class="container px-4">
                <h1>Comandos SQL</h1> 
                <div class="row gx-4 justify-content-center">

                    <div class="col-lg-8">

                        <br><br><br>
                        <textarea id="w3review" name="sqlcommands" rows="15" cols="120"></textarea>
                        <br><br><br><br>

                        <input type="submit" class="btn btn-info" value="Enviar">

                        <br><br><br><br><br><br>
                        
                        {% if returned_headers is not none %}
                        <table class="table table-bordered">
                            <thead class="table-dark">
                                <tr>
                                {% for header in returned_headers%}
                                
                                    <th scope="col">{{header}}</th>

                                {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in returned_rows %}
                                    <tr>
                                    {% for value in row %}

                                        <td>{{ value }}</td> 

                                    {% endfor %}

                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                        {% endif %}
                        
                </div>
            </div>
        </section>
        </form>



        <!-- Data Display section-->
        <section id="section" style='background-color:#F0F8FF'>
            <div class="container px-4">
                <h1>Dados</h1> 
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">



                        <table class="table table-bordered">
                            <thead class="table-dark">
                                <tr>
                                {% for header in headers_departamento%}
                                
                                    <th scope="col">{{header}}</th>

                                {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in rows_departamento %}
                                    <tr>
                                    {% for value in row %}

                                        <td>{{ value }}</td> 

                                    {% endfor %}

                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>



                
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <tr>
                            {% for header in headers_funcionario%}
                            
                                <th scope="col">{{header}}</th>

                            {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in rows_funcionario %}
                                <tr>
                                {% for value in row %}

                                    <td>{{ value }}</td> 

                                {% endfor %}

                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>

            </div>

            </div>
        </section>



        <section id="section" style='background-color:#F0F8FF'>
            <div class="container px-4">
                <h1>Dados por Bancos de Dados</h1> 
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">

                        {% set count = namespace(value=1) %}

                        {% for db_table in dbs_tables %}

                        <h2> DB {{ count.value }} </h2>
                        {% set count.value = count.value + 1 %}

                        <table class="table table-bordered">
                            <thead class="table-dark">
                                <tr>
                                {% for header in db_table[0]%}
                                
                                    <th scope="col">{{header}}</th>

                                {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in db_table[1] %}
                                    <tr>
                                    {% for value in row %}

                                        <td>{{ value }}</td> 

                                    {% endfor %}

                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>

                        <table class="table table-bordered">
                            <thead class="table-dark">
                                <tr>
                                {% for header in db_table[2]%}
                                
                                    <th scope="col">{{header}}</th>

                                {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in db_table[3] %}
                                    <tr>
                                    {% for value in row %}

                                        <td>{{ value }}</td> 

                                    {% endfor %}

                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>

                        {% endfor %}

            </div>

            </div>
        </section>








        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
